<h1>Edit a Photo</h1>

<form action="/update_photo/<%= @photo.id %>">
  <label for="photo_caption">Caption</label>
  <input id="photo_caption" type="text" name="new_photo_caption" value="<%= @photo.caption %>">
  <label for="photo_source">Image URL</label>
  <input id="photo_source" type="text" name="new_photo_source" value="<%=@photo.source%>">


  <button>Update Photo</button>
</form>

<a href="/photos/"> Back </a>
