<h1>Add a New Photo</h1>

<form action="/create_photo">
  <label for="photo_caption">Caption:</label>
  <input id="photo_caption" type="text" name="the_caption">

  <label for="photo_image_url">Image URL:</label>
  <input id="photo_image_url" type="text" name="the_source">

  <button>Create Photo</button>
</form>
